body {
  background-color: white;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.265rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-shadow: 0.5px 0 currentColor;
}

p {
  margin-bottom: 0;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  border-width: 6px;
  width: 4%;
  border-color: #D3D3D3;
  margin: 75px auto 75px auto;
}

.btn {
  display: block;
  margin: 50px auto;
}

.button {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.bio {
  width: 500px;
  margin: 40px auto 60px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.skill-trading {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-coding {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  left: 850px;
  top: 50px;

}

.bottom-cloud {
  position: absolute;
  left: 200px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-top: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px;

}

.copyright {
  color: #EAF6F6;
  font-size: 12px;
}

.footer-link {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #11999E;
}
